:root{
  --light:#fff;
  --pink: magenta;
}
* {
  background-color: #36454f;
  text-align: center;
  color:var(--pink);
  display: block;
}

body {
  display: flex;
  flex-direction: column;
  line-height: 1.3;
}

header {
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  color: var(--light);
  padding: 5px;
  
}

header h1{
  font-size: 30px;
  background-color: none;
}

header p{
  color: var(--light);
}

main{
  width: 98%;
}

main section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

}


main section div {
  border: 5px dashed var(--light);
  margin: 10px;
  min-width: 30%;
  
}

main section div h2 {
  position: relative;
  margin-top: -20px;
  margin-left: auto;
  font-size: 30px;
  text-align: left;
  border: 3px solid var(--light);
  border-radius: 25px;
}

main section article {
  color: var(--pink);
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  flex-wrap: wrap;
}

main section article p{
  display: flexbox;
  color: var(--light);
  font-family: 'Courier New', Courier, monospace;
  background-image:linear-gradient(purple, pink);
  min-height: 25%;
  user-select: all;
  border-radius: 25px;
}

footer {
  margin: 1px;
  text-align: center

}
pre::after{
  content:'\2764'
}


